.html{
    background-color: black;
}

.main{
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 10px;
    height: 18rem;
    width: 30rem;
    margin-left: 32rem;
    margin-top: 13rem;
    display: grid;
}

.box_items{
    margin-left: 2%;
    margin-right: 2%;
}

#item_1{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);;
}

#item_2{
    display: flex;
    align-items: center;
    font-weight: 400;
}

#item_3{
    border-bottom: 1px solid rgba(0, 0, 0, .1);;
}

#item_3 input[type='text']{
    width: 90%;
    height: 80%;
    border-radius: 5px;
}

#item_4{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#item_5{
    height: 50%;
    width: 30%;
    border: none;
    background-color: #1877f2;
    border-radius: 5px;
    color: white;
}

#item_5:hover{
    background-color: #086bee;

}