body{
    font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Roboto', sans-serif;

}

/* .main{
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    background-color: #f5f3f2;
}
  */
.main_box{
    
    width: 30%;
    height: 70vh;
    display: grid;
    margin-left: 35%;
    margin-top: 8%;
    grid-template-rows: repeat(8,1fr);
    align-self: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    background-color: white;
}

.main_box_items{
    display: flex;
    justify-content: center;
}

#item-1{
    color: #1877f2;
    font-weight: 900;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
}

#item-2{
    font-weight: 900;
    display: flex;
    align-items: center;
}

#item-4{
    height: 80%;
    border-radius: 5px;
    border: 2px solid #d9d9d9;
}

#item-3{
    width: 80%;
    justify-self: center;
}

.input_fields{
    width: 80%;
    justify-self: center;
    
}

.form-floating{
    width: 100%;
    justify-self: center;
    margin: auto;
}

.password_and_new_password{
    display: grid;
    grid-template-columns: 90% 10%;
    border: 2px solid #d9d9d9;
    height: 85%;
    border-radius: 5px;
}

#item-5-1 {
    display: none;
    align-items: center;
    justify-content: center;
}
#item-5-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


#email_field{
    width: 100%;
}

#item-6-1 {
    display: none;
    align-items: center;
    justify-content: center;
}
#item-6-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.password_field{
    border: 0px;
}

input{
    background-color: #f1f3f4;
    color: black;
}

input:focus{
    background-color: #f1f3f4;
    color: black;
}

input[type=email]:focus{
    outline: none;
    border: none;
}

input[type=password]:focus{
    outline: none;
    border: none;
}

input[type=text]:focus{
    outline: none;
    border: none;
    color: black;
}

.eye_img img{
    cursor: pointer;
}

#item-7{
    background-color: #1877f2;
    width: 80%;
    justify-self: center;
    display: flex;
    border-radius: 5px;
    border: none;
}

.button_text{
    margin: auto;
    color: white;
    font-weight: 900;
    font-size: .9rem;
}

#item-8{
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.item-8_content{
    display: flex;
    text-decoration: none;
    
}

#item-8-1{
    justify-content: flex-end;
}

input{
    text-indent: 10px;
  }