.main{
    width: 60%;
    display: grid;
    grid-template-rows: .5fr max-content .5fr .5fr;
    margin-top: 2%;
    margin-left: 20%;
    background-color: #1c1e21;
    border-radius: 8px;
}

.noPotsyet{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    font-size: 2rem;
}

.user_info{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    height: 50%;
    margin-top: 2%;
}

.userinfo_content{
    text-decoration: none;
}

#profile_pic{
    border-radius: 50%;
    width: 70%;
    height: 85%;
    margin: auto;
}

#profile_pic img{
    width: 100%;
    height: 100%;
    clip-path: circle();
    object-fit: cover;
}

.nameAndPostTime{
    margin-left: 2%;
}

#name{
    color: white;
}

#name:hover{
    border-bottom: 1px solid white;
    width: fit-content;
}

#postTime{
    color: #94979b;
    font-size: .8rem;
}

#threedots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_post{
    padding: 2%;
    margin-top: 1%;
    color: white;
}

.user_post img{
    width: 100%;
    height: 100%;
    
}

.likeAndCommentDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin-top: 3%;
}

#likescount{
    margin-left: 4%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#like_image{
    max-width: 10%;
}

#commentAndSharecount{
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

.buttons{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-top: 1px solid #4d4e50 ;
}

.post_buttons{
    margin-top: .5rem;
    height: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    gap: .5rem;
}

.post_buttons:hover{
    background-color: #4d4e50;
}

.add_comment{
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.comment_area{
    display: flex;
    align-self: center;
    height: 95%;
}

.comment_area input{
    background-color: #37393a;
    border: none;
    border-radius: 15px;
    width: 95%;
}

.comment_profile_image{
    display: flex;
    justify-content: flex-end;
}

.comment_container img{
    width: 90%;
    height: 90%;
    clip-path: circle();
}